  <div class="card">

    <div class="user_info clearfix">
      <div class="avatar_side">
        <%= link_to image_tag(lecture.user.avatar, class: :avatar), user_path(lecture.user) %>
      </div>
      <div class="name_side">
        <%= link_to lecture.user.name, user_path(lecture.user), class: :name %><br>
        <%= image_tag "rate_stars_60px/rate_stars_#{Contract.lecture_review_rate_avarage(lecture.user_id)}.png", class: :stars %>
        <span class="rate_amount"><%= Contract.number_of_lecture_review(lecture.user_id) %></span>
      </div>
    </div>

    <hr>

    <%= link_to lecture_path(lecture) do %>
      <div class="card_contents">
        <h1><%= lecture.title %></h1>
        <ul class="box_lists clearfix">
          <li class="radius_box left_r">
            <span><%= lecture.total_avarable_time %>時間 </span>
          </li>
          <li class="radius_box right_r">
            <span><%= lecture.charge %>円</span>
          </li>
        </ul>
        <p>対応方法 : Skype, チャット</p>
        <hr>
        <div class="text"><%= lecture.content %></div>
      </div>
    <% end %>

  </div>
