<div class="lectures_show_contents">
  <% if user_signed_in? && @lecture.user.id == current_user.id %>
    <%= link_to "編集", edit_lecture_path %>
    <%= link_to "削除", lecture_path, method: :delete %>
  <% end %>
  <div class="lectures_show_avatar"></div>
  <div class="lectures_show_name"><%=@lecture.user.name%></div>
  <div class="lectures_show_title"><%=@lecture.title%></div>
  <div class="lectures_show_content"><%=@lecture.content%></div>
  <div class="lectures_show_time_and_money">時間：<%=@lecture.total_avarable_time%>  料金：<%=@lecture.charge%></div>
  <% if user_signed_in? && @lecture.user.id != current_user.id %>
    <%= link_to "このレクチャーに申し込む", contract_lecture_path(@lecture) %>
  <% else %>
    <%= link_to "このレクチャーに申し込む", contract_lecture_path(@lecture) %>
  <% end %>
</div>
