<div class="devise_form_template">

    <h3>
      新規登録
    </h3>

  <div class="devise_forms">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="devise_form_box">
        <%= f.text_field :name, placeholder: "ニックネームを入力（ユーザーIDとなります。）" ,autofocus: true, class: "devise_form" %>
      </div>
      <div class="devise_form_box">
        <%= f.email_field :email, placeholder: "メールアドレスを入力", autofocus: true, class: "devise_form" %>
      </div>
      <div class="devise_form_box">
        <%= f.password_field :password, placeholder: "新規パスワードを入力" , class: "devise_form" %>
      </div>
      <div class="devise_form_box">
        <%= f.password_field :password_confirmation, placeholder: "確認のため再度パスワードを入力" , class: "devise_form" %>
      </div>
      <div class="devise_btn_box">
        <%= f.submit t('.sign_up', :default => "登録する"), class: "devise_btn" %>
      </div>
    <% end %>
  </div>
  <div class="devise_links_box">
    <%= render "devise/shared/links" %>
  </div>

</div>
