<% if question_contract.contractable_type == "Question" %>
  <div class="card">
    <%= link_to question_path(question_contract.contractable) do %>
      <div class="card_contents">
        <h1><%= question_contract.contractable.title %></h1>
        <ul class="box_lists">
          <li class="radius_box left_r">
            <span><%= question_contract.contractable.timelimit %>時間 </span>
          </li>
          <li class="radius_box right_r">
            <span><%= question_contract.contractable.reward %>円</span>
          </li>
        </ul>
        <p>対応方法 : Skype, チャット</p>
      <span><%= question_contract.contractable.content %></span>
      </div>
    <% end %>
  </div>
<% end %>

