<div class="user_edit">
  <h3>
    プロフィール編集
  </h3>
  <div class="">
    <%= form_for @user do |f| %>
      <div class="avatar">
        <%= image_tag @user.avatar, id: "avatar" if @user.avatar? %>
      </div>
      <div class="avatar_field">
        <%=  f.file_field :avatar %>
      </div>
        <%= f.hidden_field :avatar_cache %>
      <div class="">
        <span id="name_label">名前</span>
        <%= f.text_field :name, placeholder: "質問 太郎",autofocus: true, class: "name" %>
      </div>
      <div class="">
        <span id="email_label">メールアドレス</span>
        <%= f.email_field :email, placeholder: "lectgram@lect.com", autofocus: true, class: "email" %>
      </div>
      <div class="">
        <span id="introduce_label">自己紹介</span>
        <%= f.text_area :introduce, placeholder: "プログラミングが大好きです。よろしくお願いします！", autofocus: true, class: "introduce" %>
      </div>
      <div class="submit">
        <%= f.submit t('.sign_up', default: "更新する"), id: :submit%>
      </div>
    <% end %>
  </div>
</div>
