<%= @user.name %>
<%= image_tag @user.thumbnail %>
<%= @user.introduce %>
<%= @user.email %>

<% if current_user.id == @user.id %>
  <div class="btn btn-default">
    <%= link_to 'Edit', edit_user_path %>
  </div>
<% end %>
