<ul class="list-unstyled">
  <li>名前  <%= @user.name %></li>
  <li><%= image_tag @user.avatar %></li>
  <li>紹介文  <%= @user.introduce %></li>
  <li>メールアドレス  <%= @user.email %></li>
</ul>

<br />

<%= render partial: 'users/review', collection: @reviews %>

<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <div class="btn btn-default">
      <%= link_to 'Edit', edit_user_path %>
    </div>
  <% end %>
<% end %>
