<div class="users_show">

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="avatar col-sm-3">
      <%= image_tag @user.avatar ,id: :avatar%>
    </div>
    <div class="status col-sm-7">
    <span id="name"><%= @user.name %></span><br>
      <span class="mark">L</span>
      <%= image_tag "rate_stars_60px/rate_stars_#{Contract.lecture_review_rate_avarage(@user.id)}.png", class: :stars %>
      <span class="rate_amount"><%= Contract.number_of_lecture_review(@user.id) %></span>
      <br>
      <span class="mark">Q</span>
      <%= image_tag "rate_stars_60px/rate_stars_#{Contract.question_review_rate_avarage(@user.id)}.png", class: :stars %>
      <span class="rate_amount"><%= Contract.number_of_question_review(@user.id) %></span>
    </div>
  </div><!-- row -->

  <div class="skills clearfix">
    <h3>スキル</h3>
    <div class="skill">
      <% @skill_relations.each do |skill_relation| %>
      <div class="one_skill">
        <span class="gray_back"><%= skill_relation.skill.skill_name %></span><br>
        <span class="skill_level"><%= skill_relation.skill_level %></span>
      </div>
    <% end %>
    </div>
  </div>

  <div class="introduce">
    <h3>自己紹介</h3>
    <div id="introduce_content"><%= @user.introduce %></div>
  </div>

  <div class="reviews">
    <h3>レビュー</h3>
    <div class="review_contents">
      <%= render partial: 'users/contract', collection: @contracts %>
    </div>
    ＞ レビューをもっと見る
  </div>

  <div class="lectures">
  </div>
  <div class="questions">
  </div>
</div>



<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <div class="btn btn-default">
      <%= link_to 'Edit', edit_user_path(@user.id) %>
    </div>
  <% end %>
<% end %>
