  <div class="card">
    <div class="info clearfix">
      <div class="left_side">
        <div class="avatar_side">
          <%= link_to image_tag(contract.contractable.user.avatar, class: :avatar), user_path(contract.contractable.user) %>
        </div>
        <div class="name_side">
          <%= link_to contract.contractable.user.name, user_path(contract.contractable.user), class: :name %><br><br>
        </div>
      </div>

      <% if contract.contractable_type == "Lecture" %>
        <%= link_to lecture_path(contract.contractable.id) do %>
          <div class="right_side">
            <div class="category">
              L
            </div>
            <div class="title"><%= contract.contractable.title %></div>
          </div>
        <% end %>
      <% elsif contract.contractable_type == "Question" %>
        <%= link_to question_path(contract.contractable.id) do %>
          <div class="right_side">
            <div class="category">
              Q
            </div>
            <div class="title"><%= contract.contractable.title %></div>
          </div>
        <% end %>
      <% end %>


    </div><!-- .info -->

<%= link_to chat_path(contract.id) do %>
    <div class="message">
      <%= Contract.newest_chat_message(contract.id) %>
    </div>
<% end %>

  </div><!-- .card -->
