<%= form_for [@contract, @chat], :remote => true do |f| %>
<%= f.text_field :message %>
<%= f.submit 'send' %>
<% end %>

<%= render partial: "chat", collection: @chats %>

<div id='messagelog'></div>

<script type="text/javascript">
  var pusher = new Pusher("<%= @pusher_access_key %>");
  var channel = pusher.subscribe('general_channel');
  channel.bind('chat_event', function(data) {
    if (<%= @contract.id %> == data.contract_id) {
      var messagelog = document.getElementById('messagelog');
      var messagediv = document.createElement('div');
      messagediv.innerHTML = "- " + data.username + " -<br>" + data.message + "<br><br>";
      messagelog.appendChild(messagediv);
      document.getElementById('chat_message').value = "";
    }
  });

</script>
