<% unless params[:controller].include?("devise") %>
  <header class="header">
  <div class="headerwrap container clearfix">
    <h1 id="logo">Lectgram</h1>
      <ul class="dropdown">
        <li class="header_contents mypage">
        <% if user_signed_in? %>
          <a class="dropdown-toggle" data-toggle="dropdown" href="">ここにアカウントの画像が入る</a>
            <ul class="dropdown-menu">
              <li><%= link_to 'マイページ', user_path(current_user) %></li>
              <li><a href="#">設定</a></li>
              <li><a href="#">よくある質問</a></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
        </li>
        <% else %>
          <li class="header_contents"><%= link_to '新規登録', new_user_registration_path %></li>
        <% end %>
        <li class="header_contents"><span><%= link_to "質問を見る", questions_path %></span></li>
        <li class="header_contents"><span><%= link_to "レクチャーを見る", lectures_path %></span></li>
      </ul>
  </div>
  </header>
<% end %>
