<% unless params[:controller].include?("devise") %>
  <header class="header clearfix">

    <div id="hedder_navbar">
      <div class="row">

        <div class="col-xs-2" id="navbar_left">
          <%= link_to "Lectgram", root_path, id: "header_logo" %>
        </div>

        <div class="col-xs-8" id="navbar_center">

          <div id="centering_question_lecture_nav">

            <div class="fade_trigger question_fade_trigger">
              <p id="question_nav">質問</p>
              <div class="fade_area" id="question_nav_menu">
              <ul>
                <li>
                  <%= link_to "新規作成", new_question_path %>
                </li>
                <li>
                  <%= link_to "一覧を表示", questions_path, class: "cover_shadow" %>
                </li>
              </ul>
              </div>
            </div>

            <div class="fade_trigger lecture_fade_trigger">
              <span id="lecture_nav">レクチャー</span>
              <div class="fade_area" id="lecture_nav_menu">
              <ul>
                <li>
                  <%= link_to "新規作成", new_lecture_path, class: "cover_shadow" %>
                </li>
                <li>
                  <%= link_to "一覧表示", lectures_path, class: "cover_shadow" %>
                </li>
              </ul>
              </div>
            </div>

          </div>

        </div>

        <% if user_signed_in? %>
          <div class="col-xs-2" id="navbar_right">
            <%= link_to "", contracts_path, class: "glyphicon glyphicon-list-alt", id: "contract_nav" %>
            <%= link_to "", contract_chats_path(current_user.id), class: "glyphicon glyphicon-comment", id: "chat_nav" %>
            <!-- 一旦contract_chats_pathの引数をcurrent_user.idにしてエラーを防ぐ -->

            <div class="fade_trigger avatar_fade_trigger">
              <img src="<%= current_user.avatar %>" id="avatar_nav">

              <div class="fade_area" id="avatar_nav_menu">
                <ul>
                  <li><%= link_to current_user.name, user_path(current_user.id), class: "cover_shadow" %></li>
                  <li><%= link_to "設定", root_path, class: "cover_shadow" %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "cover_shadow" %></li>
                </ul>
              </div>
            </div>

          </div>
        <% end %>

      </div><!-- .row -->
    </div><!-- #header_navbar -->


    <div id="hidden_nav_menu">
      <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8" id="hidden_nav_menu_center">
          <div class="question_fade_trigger">
          </div>
        </div>
        <div class="col-xs-2">
          <div id="contract_nav_menu"></div>
          <div id="chat_nav_menu"></div>
          <div id="avatar_fade_trigger">
          </div>
        </div>
      </div> <!-- row -->
    </div> <!-- #hidden_nav_menu -->

  </header>
<% end %>
